<!DOCTYPE html>
<html>
  <head>
    <title>Random quote generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <h1>Random quote generator</h1>
    <button onclick="getNewQuote()">Generate quote</button>
    <div id='quote' style="width:100%; margin-top:20px"></div>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
