<div class="container">
  <div style='background: black'>
    <img src="<%= image %>" alt="Snow" style="width:65%; opacity:0.8">
  </div>
  <div class="centered">
    <p><%= quote %></p>
    <i><%= author %></i>
  </div>
</div> 